{
	"extends": "standard",
	"rules": {
		"semi": ["error", "always"],
		"camelcase": "off",
		"comma-dangle": "off",
		"no-tabs": 0,
		"indent": [2, "tab", { "SwitchCase": 1 }],
		"space-before-function-paren": 0,
		"prefer-const": [
			"error",
			{
				"destructuring": "any",
				"ignoreReadBeforeAssign": false
			}
		]
	}
}
